
:root{
  --primary: #007bff;
  --primary-hover: #0056b3;
  --background: #f8f9fa;
  --surface: #ffffff;
  --text: #333333;
  --secondary: #343a40;
  --secondary-hover: #495057;
  --borders-and-dividers: #dddddd;
  --corners: 8px;
  --error: #bd0000d9;
  --success: #28a745;
  --table-margin: 3%;

}
#root{
  margin: 0 0;
  /* background-color: rgba(246, 188, 251, 0.454); */
  height: 100%;
  color: var(--text);

  
}
body {
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-size: 16px; 
  background-color: var(--background);
  margin: 2%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h5,h6{
  color: var(--primary);
  text-align: center;
}

nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: var(--secondary);
  border-radius: var(--corners);
  /* margin: 10px; */
  
  /* padding: 10px; */
}
nav ul li{
  padding: 1em;
  color: var(--background);
}
nav ul li a{
  color: white;
  text-decoration: none;
}

/* major containers */
.surface{
  background-color: var(--surface);
  /* margin: 3%; */
  border-radius: var(--corners);
  box-shadow: 0 0 10px 1px var(--borders-and-dividers);
}
#inventory-and-pricing-container{
  display: flex;
  justify-content: space-between;
}

/* Split containers on this page */
.individual-inventory-and-pricing-containers{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 48%;
}

.full-page-width-containers{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.search-bar{
  margin: 10px var(--table-margin) 0px var(--table-margin);
  
  height: 40px;
  font-size: 1.5rem;
}
/* display tables */
.table-row{
  display: flex;
  justify-content: left;
  align-items: center;
  text-align:left;
  font-size: 1em;
  border-bottom:  solid 1px var(--borders-and-dividers);
  border-left:  solid 1px var(--borders-and-dividers);
  border-right:  solid 1px var(--borders-and-dividers);
  margin: 0px;
  /* margin-left: var(--table-margin);
  margin-right:var(--table-margin); */
  padding: 1% 0;
  position: relative;
}
.table-row:first-child{
  border-top:  solid 1px var(--borders-and-dividers);
}
/* .inventory-row div{
width: 33%;
} */
 .entire-row-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.toggle-row{
  padding-bottom: 20px;
}
 .row-display-content{
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  position: relative;
  margin: 0px
 }
.row-additional-content{
  display: flex;
  justify-content: space-around;
  margin: 0 40px
}
/* .rental-additional-content{
  display: flex;
  justify-content: space space-around;
} */
.rental-additional-content div, p{
  width: 50%;
  /* padding: 20px */
  
}
.cell{
  padding: 0px
}
/* keep after table-row */
.row-header{
  margin-top: 10px;
  padding: 10px 0px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  background-color: var(--primary);

  color: var(--background);
}
.row-header:first-child{
  border: none;
}



/* Individual columns */
.rental-name-column{
  width: 13%;
  padding-left: 2%;
}
.rental-dropoff-column{
  width: 9%;
  padding-left: 1%;
}
.rental-pickup-column{
  width: 9%;
  padding-left: 1%;
}
.rental-address-column{
  width: 19%;
  padding-left: 1%;
}
.rental-dumpster-column{
  width: 9%;
  padding-left: 1%;
}
.rental-phone-column{
  width: 14%;
  padding-left: 1%;
}
.rental-email-column{
  width: 19%;
  padding-left: 1%;
}
.customer-edit-column{
  width: 8%;
  padding-left: 2%;
}
.customer-name-column{
  width: 18%;
  padding-left: 2%;
}
.customer-phone-column{
  width: 13%;
  padding-left: 1%;
}
.customer-email-column{
  width: 22%;
  padding-left: 1%;
}
.customer-address-column{
  width: 32%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;

}
.inventory-dumpster-column{
  width: 28%;
  padding-left: 5%;
}
.inventory-size-column{
  width: 28%;
  padding-left: 5%;
}
.inventory-active-column{
  width: 28%;
  padding-left: 5%;
}

.pricing-name-column{
  width: 45%;
  padding-left: 5%;
}
.pricing-price-column{
  width: 20%;
  padding-left: 5%;
}
.pricing-archive-column{
  width: 20%;
  padding-left: 5%;
}


.center{
  display: flex;
  justify-content: center;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-form{
  /* border: solid 1px black; */
  background-color: var(--background);
  padding: 20px;
  border-radius: var(--corners);
  box-shadow: 0 0 10px 1px var(--borders-and-dividers);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* add width for each inddividual form id */
  
}
.add-form form label{
  color: var(--secondary);
  font-weight: bold;
}

#add-item label{
  display: inline-block;
  /* background-color: black; */
  width: 100px;
}
#add-address label{
  display: inline-block;
  /* background-color: black; */
  width: 150px;
}
#add-rental-item label{
  display: inline-block;
  /* background-color: black; */
  width: 150px;
}
#add-customer label{
  display: inline-block;
  /* background-color: black; */
  width: 150px;
}

#check-dumpster-form label{
  display: inline-block;
  /* background-color: black; */
  width:150px;
}
#add-rental-form label{
  display: inline-block;
  /* background-color: black; */
  width:150px;
}
.add-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;;
}
#add-dumpster{
  min-width: 200px;
}

input, select{
  border: unset;
  border: solid 1px var(--borders-and-dividers);
  min-width: 170px;
  height: 2em;
  border-color: var(--borders-and-dividers);
  border-radius: 3px;
  margin: 5px 0px;
  padding: 0px 8px;
}
.inputs{
  display: flex;
  flex-direction: column;


}
.add-address{
  padding: 4% 0;
}
.add-rental-item, table{
  padding: 4% 0;
}
.add-rental-item{
  width: 100%
}
table{
  padding: 40px 0px;
}
.close{
  color: rgb(41, 41, 41);
  background-color: rgba(255, 0, 0, 0.68);


}
.multi-button{
  display: flex;
  justify-content: space-around;
  
}
/* select {
  display: inline-block;
  padding: unset;
  margin: unset;
  width: 190px;
  height: 2em;
  border-color: var(--borders-and-dividers);
} */

.scrollable-table-container{
  overflow: auto;
  /* min-width: 1200px;; */
  margin-left: var(--table-margin);
  margin-right:var(--table-margin);
}
.table-container{
  min-width: 1200px;
  overflow: hidden;

}
.table-body-container{
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.button-options{
  display: flex;
  justify-content: space-around;
} 
button{
  all:unset;
  padding: 5% 5%;
  background-color: var(--primary);
  color: white;
  font-size: 1em;;
  font-weight: bold;
  border-radius: 5px;
  margin: 8px;
  min-width: 85px;
  min-height: 22px;
  text-align: center;;

}
button:hover{
  background-color: var(--primary-hover);
  cursor: pointer;

}
.error{
  color: var(--error);
  font-weight: bold;
}

.add-symbol{
  color: var(--success);
  height: 40px
}
.save-icon{
  height: 40px;
  width: 40px;
  color: var(--success);
}
.undo-icon{

  height: 40px;
  width: 40px;
  /* margin-left:10px; */
}
.edit-icon{
  height: 40px;
  width: 40px;
  position:relative;
  color:#fd7e14;
}
.edit-button:hover{
  cursor: pointer;
  /* background-color: #0056b3; */

}
.edit-button{
  width: 40px;
  width: 40px;
  z-index: 1;
}
.edit-button *{
  width: 100%;
  height: 100%;
  


}
.add-button-and-label-container{
  display: flex;
}
.add-button{
  all: unset;
  display: flex;
  align-items: center;
}
.add-button:hover{
  all: unset;
  cursor: pointer;
  height: 40px;
}
.add-label{
  display: flex;
  align-items: center;;
}

.top-left-icon{
  display: flex;
  justify-content: left;
  align-items: start;
  position: absolute;
  top: 0px;
  left: 0px;
}

.invoice-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center
}
.invoice-container table{
  width: 50%;
  margin: 0 50px;
}
.invoice-message{
  text-align: center;
  font-weight: bold;
}
tr{
  padding: 0px;
  margin: 0px;
  height: 20px;
}

.total-row{
  font-weight: bold;
}
.toggle-icon{
  display: flex;
  justify-content: left;
  align-items: start;
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.toggle{
  
  text-align: center;
  color: var(--primary);
  font-weight: bold;
}
.toggle:hover{
  cursor: pointer;
}
.side-by-side{
  display: flex;
  justify-content: space-around;
  align-items: center;
}